body {
  background-image: linear-gradient(to bottom right, #000000, #0001ff);
  height: 100vh;
}

.boards-container {
  display: flex;
  justify-content: space-around;
}

.player-board {
  border: 2px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board-space, .computer-board-space {
  border: 0.5px solid red;
}

.computer-board-space {
  cursor: pointer;
}

.computer-board-space:hover {
  background-color: #813407b3;
}

.occupied-space {
  background-color: gray;
}

.game-over {
  position: absolute;
  background-color:#165c9af2;
  height: 50%;
  width: 50%;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px gray;
  box-shadow: 0 0 50px blue;
  color: #e7e0e0;
  font-family: 'Orbitron';
  align-items: center;
}

.ships-area {
  display: flex;
  justify-content: center;
}

#axis-btn {
  background-color: black;
  color: silver;
  padding: 10px;
  font-family: 'Orbitron';
  cursor: pointer;
  border-style: double;
}

#axis-btn:hover {
  background-color: #196be4;
}

.title-text {
  font-family: 'Rubik Moonrocks', cursive;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
  color: #e7e0e0;
}

#player-instructions {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: silver;
}

.ship-button {
  padding: 5px;
  margin: 10px;
  font-family: 'Orbitron';
  font-weight: 700;
  color: #4b4a4a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ship-button:hover {
  background-color: #196be4;
}

#begin-game-btn {
    border: none;
    font-family: 'Orbitron';
    font-weight: 500;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#begin-game-btn:hover {
  background-color: #196be4;
}

#top-area {
  display: flex;
  justify-content: center;
}

.sunk-ship {
  background-color: #ffff00e3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#play-again-btn {
  font-family: 'Rubik Moonrocks';
}

#play-again-btn:hover {
  background-color: #196be4;
}